
   .input2{
    font-size: 27px;
    font-family: auto;
    line-height: 50px;
    padding: 0 10rem;
    padding-left: 2.rem;
    border-radius: 8px;
    background-color: #f3f3f4;

   }
   .input {
    font-family: auto;
    width: 50%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
    font-family: auto;


   }
   
   .input:focus, input:hover {
      outline: none;
      border-color: #3c7990;
      background-color: #fff;
      box-shadow: 0 0 0 2px #3f7184;
   }
   input{
      font-family: auto;
      background: none;
      color: #3e6270;
      font-size: 27px;
      padding: 10px 10px 10px 5px;
      display: inline;
      border: none;
      width: 65px;
      margin-left: 20px;
      border-radius: 20px;
   }